._421edea01cb52e16-wordmark {
	 pointer-events: unset;
	 padding: 0;
}
 ._421edea01cb52e16-wordmark > svg {
	 display: none;
}
 ._421edea01cb52e16-wordmark::after {
	 position: absolute;
	 top: 4px;
	 padding: 4px 9px 3px;
	 font-size: 9px;
	 letter-spacing: 0.4px;
	 white-space: nowrap;
	 font-family: var(--font-headline);
	 content: var(--modtitle-text);
}
 :root {
	 --modtitle-text: "Modified Discord";
}
 :root:has(#vencord-css-core) {
	 --modtitle-text: "Vencord";
}
 :root:has(#vcd-css-core) {
	 --modtitle-text: "Vesktop";
}
 :root:has(link[href^="replugged"]) {
	 --modtitle-text: "Replugged";
}
 :root:has(bd-body) {
	 --modtitle-text: "BetterDiscord";
}
 :root:has(script[src^="chrome-extension://cpojbkbhfkkljmlojagocnbmiaagkhkn"]) {
	 --modtitle-text: "Shelter";
}
 
